#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <scroll-snap.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mt {
    quick-tap-ms = <150>;
    flavor = "tap-preferred";
};

/ {
    chosen { zmk,matrix-transform = &imprint_number_row_full_bottom_row; };

    behaviors {
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 4 5 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 48 49 50 51 52 58 59 60 64 65 66>;
            hold-trigger-on-release;
            flavor = "tap-preferred";
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <165>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 53 54 55 56 57 61 62 63 67 68 69>;
            flavor = "tap-preferred";
        };

        as_ht: as_ht {
            compatible = "zmk,behavior-hold-tap";
            label = "AS_HT";
            bindings = <&shift>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        bdel: bdel {
            compatible = "zmk,behavior-mod-morph";
            label = "BDEL";
            bindings = <&kp BSPC>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_LCTL|MOD_LALT|MOD_RCTL|MOD_LGUI|MOD_RALT|MOD_RGUI)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        copy_cut {
            bindings = <&mt LC(X) LC(C)>;
            key-positions = <27 26>;
            timeout-ms = <20>;
            require-prior-idle-ms = <150>;
        };

        lbtab {
            bindings = <&kp LS(TAB)>;
            key-positions = <26 14>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <27 15>;
        };

        lesc {
            bindings = <&kp ESC>;
            key-positions = <13 25>;
            timeout-ms = <25>;
        };

        dictate {
            bindings = <&kp GRAVE>;
            key-positions = <52 51>;
            timeout-ms = <20>;
        };

        log_fv {
            bindings = <&fv>;
            key-positions = <63 18>;
            timeout-ms = <25>;
            require-prior-idle-ms = <150>;
        };

        log_u {
            bindings = <&umn>;
            key-positions = <63 19>;
            timeout-ms = <25>;
            require-prior-idle-ms = <150>;
        };

        log_h {
            bindings = <&hcmc>;
            key-positions = <63 20>;
            timeout-ms = <25>;
            require-prior-idle-ms = <150>;
        };

        log_hmail {
            bindings = <&hcmc_email>;
            key-positions = <63 20 19>;
            timeout-ms = <25>;
            require-prior-idle-ms = <150>;
        };

        paste {
            bindings = <&kp LC(V)>;
            key-positions = <28 27>;
            timeout-ms = <20>;
            require-prior-idle-ms = <150>;
        };

        undo_redo {
            bindings = <&mt LC(Y) LC(Z)>;
            key-positions = <26 25>;
            timeout-ms = <20>;
            require-prior-idle-ms = <150>;
        };

        sel_all {
            bindings = <&kp LC(A)>;
            key-positions = <29 17>;
            timeout-ms = <30>;
            require-prior-idle-ms = <140>;
        };

        ent {
            bindings = <&kp ENTER>;
            key-positions = <16 28>;
            timeout-ms = <25>;
        };

        close {
            bindings = <&kp LC(W)>;
            key-positions = <28 40>;
            timeout-ms = <25>;
        };

        ntab {
            bindings = <&kp LC(T)>;
            key-positions = <27 39>;
            timeout-ms = <25>;
        };

        quit {
            bindings = <&kp LG(Q)>;
            key-positions = <25 37>;
            timeout-ms = <25>;
        };

        rbtab {
            bindings = <&kp LS(TAB)>;
            key-positions = <21 33>;
            timeout-ms = <25>;
        };

        rtab {
            bindings = <&kp TAB>;
            key-positions = <20 32>;
            timeout-ms = <25>;
        };

        resc {
            bindings = <&kp ESC>;
            key-positions = <22 34>;
            timeout-ms = <25>;
        };

        rent {
            bindings = <&kp ENTER>;
            key-positions = <19 31>;
            timeout-ms = <25>;
        };

        qu {
            bindings = <&qu>;
            key-positions = <19 20>;
            timeout-ms = <25>;
            layers = <0>;
        };

        excl {
            bindings = <&kp EXCL>;
            key-positions = <18 19>;
            timeout-ms = <25>;
            layers = <0>;
        };

        dot {
            bindings = <&kp DOT>;
            key-positions = <30 31>;
            timeout-ms = <25>;
        };

        comma {
            bindings = <&kp COMMA>;
            key-positions = <42 43>;
            timeout-ms = <25>;
        };

        semi {
            bindings = <&kp SEMI>;
            key-positions = <42 30>;
            timeout-ms = <25>;
        };

        quote {
            bindings = <&kp SQT>;
            key-positions = <32 44>;
            timeout-ms = <25>;
        };

        question {
            bindings = <&kp FSLH>;
            key-positions = <31 43>;
            timeout-ms = <25>;
        };

        lbkt {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <33 45>;
            timeout-ms = <25>;
        };

        rbkt {
            bindings = <&kp RBKT>;
            key-positions = <34 46>;
            timeout-ms = <25>;
        };

        rep {
            bindings = <&key_repeat>;
            key-positions = <63 69>;
            timeout-ms = <25>;
        };

        lep {
            bindings = <&key_repeat>;
            key-positions = <58 64>;
            timeout-ms = <25>;
        };
    };

    macros {
        shift: shift {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&kp LSHFT>;

            label = "SHIFT";
        };

        as: as {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &macro_param_1to2 &as_ht MACRO_PLACEHOLDER MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &macro_param_1to2 &as_ht MACRO_PLACEHOLDER MACRO_PLACEHOLDER>;

            label = "AS";
        };

        fv: fv {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_wait_time 25>,
                <&kp A &kp J &kp M &kp N8 &kp N5 &kp N1 &kp N1 &kp N1 &kp AT &kp F &kp A &kp I &kp R &kp V &kp I &kp E &kp W &kp DOT &kp O &kp R &kp G &kp TAB &kp LS(B) &kp N3 &kp N &kp T &kp N0 &kp N &kp LS(W) &kp N3 &kp S &kp T &kp N4 &kp N2 &kp N0>,
                <&macro_wait_time 250>,
                <&kp DLLR &kp DLLR &kp RET>,
                <&macro_release>;

            label = "FV";
        };

        hcmc: hcmc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_wait_time 25>,
                <&kp LS(H) &kp N9 &kp N2 &kp N9 &kp N9 &kp N9 &kp TAB &kp LS(B) &kp N3 &kp N &kp T &kp N0 &kp N &kp LS(W) &kp N3 &kp S &kp T &kp N4 &kp N2 &kp N0>,
                <&macro_wait_time 250>,
                <&kp DLLR &kp DLLR &kp RET>,
                <&macro_release>;

            label = "HCMC";
        };

        hcmc_email: hcmc_email {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_wait_time 25>,
                <&kp LS(H) &kp N9 &kp N2 &kp N9 &kp N9 &kp N9 &kp AT &kp H &kp C &kp M &kp E &kp D &kp DOT &kp O &kp R &kp G &kp TAB &kp LS(B) &kp N3 &kp N &kp T &kp N0 &kp N &kp LS(W) &kp N3 &kp S &kp T &kp N4 &kp N2 &kp N0>,
                <&macro_wait_time 250>,
                <&kp DLLR &kp DLLR &kp RET>,
                <&macro_release>;

            label = "HCMC_EMAIL";
        };

        umn: umn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_wait_time 25>,
                <&kp C &kp H &kp O &kp W &kp D &kp N1 &kp N9 &kp N8 &kp AT &kp U &kp M &kp N &kp DOT &kp E &kp D &kp U &kp TAB &kp LS(B) &kp N3 &kp N &kp T &kp N0 &kp N &kp EXCL &kp LS(W) &kp N3 &kp S &kp T &kp N4 &kp N2 &kp N0>,
                <&macro_wait_time 250>,
                <&kp DLLR &kp DLLR &kp RET>,
                <&macro_release>;

            label = "UMN";
        };

        rgb_cont: rgb_cont {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_ON &rgb_ug RGB_COLOR_HSB(219,100,60)>;
            label = "RGB_CONT";
        };

        rgb_drag: rgb_drag {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_ON &rgb_ug RGB_COLOR_HSB(282,100,60)>;
            label = "RGB_DRAG";
        };

        qu: qu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Q &kp U>;
            label = "QU";
        };
    };

    layer_listeners {
        compatible = "zmk,layer-listeners";

        drag_rgb_listener {
            layers = <2>;
            bindings = <&rgb_drag &rgb_ug RGB_OFF>;
        };

        control_rgb_listener {
            layers = <3>;
            bindings = <&rgb_cont &rgb_ug RGB_OFF>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&none  &none         &none        &none        &none         &none              &none    &none         &none             &none        &none         &none
&none  &sl 1         &kp F        &kp B        &kp K         &kp Q              &sl 2    &kp Y         &kp O             &kp U        &sl 1         &none
&none  &hml LCTRL N  &hml LALT S  &hml LGUI H  &hml LSHFT T  &kp M              &kp G    &hmr RSHFT C  &hmr RALT A       &hmr RALT E  &hmr RCTRL I  &none
&none  &kp P         &kp V        &kp J        &kp D         &kp Z              &kp X    &kp UP        &kp LEFT          &kp RIGHT    &kp DOWN      &none
&none  &mkp MB4      &mkp MB2     &mkp MB3     &mkp MB1                                  &mkp MB1      &mkp MB3          &mkp MB2     &mkp MB5      &none
                                               &hml LGUI L   &kp F7  &kp F8     &kp F11  &kp EQUAL     &hml RGUI W
                                               &hml LSHFT R  &bdel   &kp F13    &kp F12  &kp MINUS     &hmr RSHFT SPACE
            >;
        };

        funav {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans             &trans   &trans  &trans  &trans  &trans  &trans
&trans  &trans  &as N7  &as N8  &as N9  &kp F13            &kp F14  &as N7  &as N8  &as N9  &trans  &trans
&trans  &trans  &as N4  &as N5  &as N6  &kp F11            &kp F12  &as N4  &as N5  &as N6  &trans  &trans
&trans  &as N0  &as N1  &as N2  &as N3  &kp F9             &kp F10  &as N1  &as N2  &as N3  &as N0  &trans
&trans  &kp F1  &kp F2  &kp F3  &kp F4                              &kp F5  &kp F6  &kp F7  &kp F8  &trans
                                &trans  &trans   &trans    &trans   &trans  &trans
                                &trans  &trans   &trans    &trans   &trans  &trans
            >;
        };

        control {
            bindings = <
&none  &trans           &trans           &trans           &trans           &trans                        &trans          &trans           &trans           &trans           &trans           &trans
&none  &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &rgb_ug RGB_HUI  &rgb_ug RGB_HUD  &trans                        &trans          &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &trans
&none  &kp C_PP         &kp C_MUTE       &kp C_VOL_DN     &kp C_VOL_UP     &trans                        &trans          &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &trans
&none  &kp C_BRI_DN     &kp C_BRI_UP     &kp C_PREV       &kp C_NEXT       &trans                        &trans          &rgb_ug RGB_ON   &rgb_ug RGB_OFF  &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &trans
&none  &trans           &trans           &trans           &trans                                                         &trans           &trans           &trans           &trans           &trans
                                                          &bt BT_CLR       &bt BT_SEL 0  &bt BT_SEL 1    &bootloader     &sys_reset       &trans
                                                          &bt BT_CLR_ALL   &bt BT_SEL 2  &bt BT_SEL 3    &studio_unlock  &trans           &tog 0
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};

&trackball_peripheral_listener {
    input-processors = <
        &zip_xy_scaler 2 3
    >;

    slow {
        layers = <1>;
        input-processors = <
            &zip_xy_scaler 1 2
        >;
    };

    drag {
        layers = <2>;
        input-processors = <
        &zip_x_scaler 1 16
        &zip_y_scaler 1 12
        &zip_xy_to_scroll_mapper
        &zip_scroll_transform INPUT_TRANSFORM_Y_INVERT
        &zip_scroll_snap
        >;
    };
};

&trackball_central_listener {
    input-processors = <
        &zip_x_scaler 1 16
        &zip_y_scaler 1 12
        &zip_xy_to_scroll_mapper
        &zip_scroll_transform INPUT_TRANSFORM_X_INVERT
        &zip_scroll_snap
    >;

    slow {
        layers = <1>;
        input-processors = <
        &zip_x_scaler 1 16
        &zip_y_scaler 1 12
        &zip_xy_to_scroll_mapper
        &zip_scroll_transform INPUT_TRANSFORM_X_INVERT
        &zip_scroll_snap
        &zip_scroll_scaler 1 2
        >;
    };

    drag {
        layers = <2>;
        input-processors = <
        &zip_xy_scaler 2 3
        &zip_scroll_transform INPUT_TRANSFORM_X_INVERT
        &zip_scroll_transform INPUT_TRANSFORM_Y_INVERT
        >;
    };
};
