#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen { zmk,matrix-transform = &imprint_number_row_full_bottom_row; };

    behaviors {
        bsp_del: bsp_del {
            compatible = "zmk,behavior-mod-morph";
            label = "BSP_DEL";
            bindings = <&kp BSPC>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        sticky_mod_stack: sticky_mod_stack {
            compatible = "zmk,behavior-tap-dance";
            label = "STICKY_MOD_STACK";
            #binding-cells = <0>;
            bindings = <&sk LCTRL>, <&sk LALT>, <&sk LGUI>, <&sk LSHFT>;
        };
    };

    combos {
        compatible = "zmk,combos";

        left_esc {
            bindings = <&kp ESC>;
            key-positions = <25 26>;
        };

        right_esc {
            bindings = <&kp ESC>;
            key-positions = <34 33>;
        };

        left_tab {
            bindings = <&kp TAB>;
            key-positions = <26 27>;
        };

        right_tab {
            bindings = <&kp TAB>;
            key-positions = <32 33>;
        };

        left_btab {
            bindings = <&kp LS(TAB)>;
            key-positions = <26 15>;
        };

        right_btab {
            bindings = <&kp RS(TAB)>;
            key-positions = <33 20>;
        };

        left_enter {
            bindings = <&kp ENTER>;
            key-positions = <28 27>;
        };

        right_enter {
            bindings = <&kp ENTER>;
            key-positions = <32 31>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp EQUAL  &kp N1       &kp N2      &kp N3      &kp N4       &kp N5              &kp N6     &kp N7       &kp N8      &kp N9      &kp N0       &kp MINUS
&kp TAB    &kp Z        &kp P       &kp D       &kp L        &kp X               &kp EQUAL  &kp U        &kp O       &kp Y       &kp Q        &kp BSLH
&kp W      &mt LCTRL S  &mt LALT N  &mt LGUI T  &mt LSHFT H  &kp K               &kp MINUS  &mt RSHFT E  &mt RGUI A  &mt RALT I  &mt RCTRL C  &kp B
&kp LSHFT  &kp V        &kp F       &kp G       &kp M        &kp J               &kp SQT    &kp SEMI     &kp COMMA   &kp DOT     &kp FSLH     &kp RSHFT
&trans     &trans       &kp LGUI    &kp LALT    &trans                                      &trans       &kp LBKT    &kp RBKT    &trans       &trans
                                                &lt 3 R      &kp DEL  &kp ESC    &kp GRAVE  &kp BSPC     &kp SPACE
                                                &bsp_del     &mo 1    &mo 2      &kp CAPS   &mo 2        &mo 1
            >;
        };

        Numpad_Nav_Layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans    &trans    &trans     &trans  &trans
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans            &trans  &kp HOME  &kp UP    &kp END    &trans  &trans
&trans  &trans  &kp N4  &kp N5  &kp N6  &trans            &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans            &trans  &trans    &trans    &trans     &trans  &trans
&trans  &trans  &trans  &kp N0  &trans                            &trans    &trans    &trans     &trans  &trans
                                &trans  &trans  &trans    &trans  &trans    &trans
                                &trans  &trans  &trans    &trans  &trans    &trans
            >;
        };

        Keyboard_Control_Layer {
            bindings = <
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4              &trans          &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &trans           &trans           &trans
&sys_reset   &trans        &trans        &trans        &trans        &studio_unlock            &studio_unlock  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &sys_reset
&bootloader  &trans        &trans        &trans        &trans        &trans                    &trans          &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &bootloader
&to 4        &trans        &trans        &trans        &trans        &trans                    &trans          &trans           &trans           &trans           &trans           &to 4
&to 4        &trans        &trans        &trans        &trans                                                  &trans           &trans           &trans           &trans           &to 4
                                                       &trans        &trans          &trans    &trans          &trans           &trans
                                                       &trans        &trans          &trans    &trans          &trans           &trans
            >;
        };

        Auto_Mouse_Layer {
            bindings = <
&trans  &trans    &trans    &trans    &trans    &trans              &trans    &trans    &trans    &trans    &trans    &trans
&trans  &trans    &trans    &trans    &trans    &trans              &trans    &trans    &trans    &trans    &trans    &trans
&trans  &mkp MB4  &mkp MB2  &mkp MB3  &mkp MB1  &mkp MB5            &mkp MB5  &mkp MB1  &mkp MB3  &mkp MB2  &mkp MB4  &trans
&trans  &trans    &trans    &trans    &trans    &trans              &trans    &trans    &trans    &trans    &trans    &trans
&trans  &trans    &trans    &trans    &trans                                  &trans    &trans    &trans    &trans    &trans
                                      &trans    &trans    &trans    &trans    &trans    &trans
                                      &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };

        factory_test {
            bindings = <
&kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7            &kp N8  &kp N9  &kp N0  &kp N1  &kp N2  &kp N3
&kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9            &kp N0  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5
&kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp N1            &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7
&kp N8  &kp N9  &kp N0  &kp N1  &kp N2  &kp N3            &kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9
&kp N0  &kp N1  &kp N2  &kp N3  &kp N4                            &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
                                &kp N1  &kp N2  &kp N3    &kp N4  &kp N5  &kp N6
                                &kp N7  &kp N8  &kp N9    &kp N0  &kp N1  &kp N2
            >;
        };
    };
};

// right hand trackball configuration
// &trackball_peripheral_listener {
//    input-processors =
//     activate layer 3 within 500ms of the trackball moving
//     <&zip_temp_layer 3 500>;
// };
//left hand trackball configuration

&trackball_central_listener {
    input-processors =
        // multiply sensitivity by 1, divide by 3 (make it slower for scrolling),,,,
        <&zip_xy_scaler 1 3>,
        // make this trackball output scrolling events by default instead of cursor movement,,,,
        <&zip_xy_to_scroll_mapper>,
        // invert vertical scrolling so that the view moves in the same direction as the top of the trackball.,,,,
        <&zip_scroll_transform INPUT_TRANSFORM_Y_INVERT>;
};
